:root {
	--font-body-family: 'Raleway', sans-serif;
	--content-width: 1200px;
	--text-color: #111;
	--first-color: #433633;
	--second-color: #eadbca;
	--third-color: #8F857D;
	--border-radius: 16px;
	--bg-color: #efeee5;
}

html {
	box-sizing: border-box;
	font-family: var(--font-body-family);
	font-size: 10px;
	line-height: 1.3;
	font-variant-numeric: lining-nums proportional-nums;
	color: var(--text-color);
	scroll-behavior: smooth;
	background-color: var(--bg-color);
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

main {
	min-height: calc(100dvh - 70px);
	display: flex;
	flex-direction: column;
	gap: 10rem;
	padding-top: 60px;
}

header {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	height: 140px;
	padding: 40px 0 0 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

p,
.text {
	font-weight: 500;
	color: var(--text-color);
	font-size: 1.6rem;
}

.text-small {
	font-size: 14px;
	font-weight: 500;
}

.text-center {
	text-align: center;
}

.button,
button {
	cursor: pointer;
	position: relative;
	font-family: var(--font-body-family);
	font-variant-numeric: lining-nums proportional-nums;
	font-weight: 600;
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 0 20px;
	transition: all 300ms ease;
	min-height: 42px;
	height: 42px;
	border-radius: var(--border-radius);
	border: none;
	outline: none;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.button--primary {
	background-color: var(--first-color);
	color: #fff;

	&:not([disabled]):hover {
		background-color: var(--third-color);
	}
}

.button--transparent {
	background-color: transparent;
	padding: 0;
	height: max-content;
	min-height: unset;
}

.button--icon {
	transition: all 300ms ease;
	
	&:hover {
		transform: scale(1.2);
	}
}

svg, img {
	display: block;
	line-height: 1;
	transition: all 300ms ease;
}

a {
	text-decoration: none;
	transition: all 300ms ease;
	font-weight: 600;
	color: var(--first-color);

	&:hover {
		text-decoration: underline;
	}
}

.page-width {
	width: 100%;
	max-width: var(--content-width);
	margin: 0 auto;
	padding: 0 3rem;
}

.h0 {
	font-size: 4rem;
	font-weight: 900;
	color: var(--first-color);
}

h1, .h1 {
	font-size: 3.2rem;
	font-weight: 900;
	color: var(--first-color);
}

h2, .h2 {
	font-size: 2.4rem;
	font-weight: 600;
}

h3, .h3 {
	font-size: 2rem;
	font-weight: 600;
}

h4, .h4 {
	font-size: 1.8rem;
	font-weight: 600;
}

h5, .h5 {
	font-size: 1.6rem;
	font-weight: 600;
}

.shadow {
	box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.05);
}

summary {
	cursor: pointer;
	list-style: none;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"] {
	resize: none;
	width: 100%;
	border: none;
	outline: none;
	font-family: var(--font-body-family);

	&:focus,
	&:focus-visible,
	&:focus-within {
		outline: none;
		border: none;
		box-shadow: none;
	}
}

.fade-in--animated {
	animation: fadeIn 600ms ease both;
}

.fade-in:not(.fade-in-animation) {
	opacity: 0;
	transform: translateY(50px);
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
	
}